<div class="contenedor">

  <p class="cambio__titulo">Tu cambio total es de: ${{cambio | number}}</p>

  <div class="billetes">
    <div class="cambio">
      <img
        class="billete__imagen"
        src="/assets/images/billete-500.png"
        alt="billete de 500"
      />
      <div class="cambio__contenido">
        <p>Cantidad:</p>
        <p>{{ billete500 }}</p>
      </div>
    </div>

    <div class="cambio">
      <img
        class="billete__imagen"
        src="/assets/images/billete-200.jpg"
        alt="billete de 200"
      />
      <div class="cambio__contenido">
        <p>Cantidad:</p>
        <p>{{ billete200 }}</p>
      </div>
    </div>

    <div class="cambio">
      <img
        class="billete__imagen"
        src="/assets/images/billete-50.jpeg"
        alt="billete de 50"
      />

      <div class="cambio__contenido">
        <p>Cantidad:</p>
        <p>{{ billete50 }}</p>
      </div>
    </div>
  </div>

  <div class="monedas">
    <div class="moneda">
      <img class="moneda__imagen" src="/assets/images/moneda-10.png" alt="moneda de 10" />
      <div class="cambio__contenido">
        <p>Cantidad:</p>
        <p>{{ moneda10 }}</p>
      </div>
    </div>

    <div class="moneda">
      <img class="moneda__imagen" src="/assets/images/moneda-5.png" alt="moneda de 5" />
      <div class="cambio__contenido">
        <p>Cantidad:</p>
        <p>{{ moneda5 }}</p>
      </div>
    </div>

    <div class="moneda">
      <img class="moneda__imagen" src="/assets/images/moneda-1.png" alt="moneda de 1" />
      <div class="cambio__contenido">
        <p>Cantidad:</p>
        <p>{{ moneda1 }}</p>
      </div>
    </div>
  </div>

  <button>Terminar operación</button>
</div>
