.formulario {
  display: flex;
  justify-content: center;
  margin: 5rem 0;
}

.formulario__input {
  border-radius: 1rem;
  padding: 1rem;
  border: 1px solid #e1e1e1;
  width: 30rem;
  max-width: 30rem;
  text-align: center;
}

@media (min-width: 768px) {
  .formulario__input {
      width: 40rem;
      max-width: 40rem;
    }
}

.teclado {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
  gap: 1rem;
}

.teclado__teclas {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.tecla {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 4rem;
  border: 1px solid #e1e1e1;
  padding: 1rem;
  border-radius: .5rem;
  margin: 0 auto;
}

.teclado__buttons {
  display: flex;
  gap: 2rem;
}

.tecla__button {
  border: none;
  background-color: white;
  font-size: 1.8rem;
  cursor: pointer;
}

.teclado__button-pagar {
  margin-top: 1.5rem;
  padding: 1rem;
  min-width: 10rem;
  border-radius: .5rem;
  border: 1px solid #e1e1e1;
  background-color: rgb(13, 232, 35);
}
.teclado__button-pagar-borrar {
  background-color: rgb(238, 238, 7);
}

.teclado__button-pagar-limpiar {
  background-color: rgb(237, 71, 71);
}

.alerta {
  position: fixed;
  bottom: 3rem;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  background: rgb(211, 131, 131);
  max-width: 30rem;
  border-radius: 1rem;
  padding: 1rem;
  color: white;
}
